@Styles.Render("~/Content/bootstrap-datepicker3.min.css");
@Scripts.Render("~/Scripts/bootstrap-datepicker.min.js");

@Styles.Render("~/Content/Views/Usuario/IniciarRegistrar.css");
@Scripts.Render("~/Scripts/Views/Usuario/Registrar.js");

@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_AnonimoLayout.cshtml";
}

<body class="my-login-page">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <a href="@Url.Action("Inicio","Inicio")"><img src="@Url.Content("~/Images/Views/Usuario/logoBordeBlanco.png")" alt="logo"></a>
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">Registrar Usuario</h4>
                        <form method="POST" class="my-login-validation" novalidate="">

                            <div class="form-group">
                                <label for="email">Correo Electronico</label>
                                <input id="email" type="email" class="form-control" name="email" required placeholder="Ingrese su Email">
                            </div>

                            <div class="form-group">
                                <label for="password">Contrasena</label>
                                <input id="password" type="password" class="form-control" name="password" required data-eye>
                            </div>

                            <div class="form-group">
                                <label for="repassword">Confirmar Contrasena</label>
                                <input id="repassword" type="password" class="form-control" name="password" required data-eye>
                            </div>
                            
                            <div class="form-group">
                                <label for="fechaDeNacimiento">Feche de Nacimiento</label>
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="form-control">
                                    <div class="input-group-addon">
                                        <span class="fa"></span>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <i class="far fa-calendar-alt"></i>
                                </button>
                            </div>

                            <div class="mt-4 text-center">
                                Ya tienes una cuenta? <a href="@Url.Action("Iniciar","Usuario")">Inicia Sesion</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

