@using System.Globalization
@using Helpers
@using Services
@model Solidam.ViewModel.PropuestaDetalleViewModel
@{
    var obtenido = PropuestasDonacionesHorasTrabajoService.GetHorasDonadasByPropuestaId(Model.Propuesta.PropuestasDonacionesHorasTrabajo.FirstOrDefault().IdPropuestaDonacionHorasTrabajo);
    var meta = Model.Propuesta.PropuestasDonacionesHorasTrabajo.FirstOrDefault()?.CantidadHoras;
}
@Styles.Render("~/Content/Views/Propuestas/style.css")

<div class="article causes-details mx-auto mt-5 col col-8 card p-4">
    <!-- article img -->
    <div class="article-img mx-auto">
        <img width="50%" height="50%" src="@Url.Content($"~/Images/Views/Propuesta/{Model.Propuesta.Foto}")" alt="">
    </div>
    @if (Model.Propuesta.FechaFin < DateTime.Today)
    {
        <h5 class="text-center mt-2"><i>La propuesta ha finalizado</i></h5>
    }

    <!-- article img -->
    <!-- causes progress -->
    <div class="clearfix">
        <div class="causes-progress w-100">
            <div class="causes-progress-bar">
                <div style="width: @((int)(obtenido * 100 / meta))%;">
                    <span>@((int)(obtenido * 100 / meta))%</span>
                </div>
            </div>
            <div>
                <span class="causes-raised">Obtenido: <strong>@(obtenido)hs</strong></span>
                <span class="causes-goal">Objetivo: <strong>@meta hs</strong></span>
            </div>
        </div>
        @if (Model.Propuesta.IdUsuarioCreador != SessionHelper.Usuario.IdUsuario && Model.Propuesta.FechaFin > DateTime.Today)
        {
            <a href="@Url.Action("Donar", "DonacionesHorasTrabajo", new {id = Model.Propuesta.IdPropuesta})" class="primary-button causes-donate">Donar ahora</a>
        }
    </div>
    <!-- /causes progress -->
    <!-- article content -->
    <div class="article-content">
        <!-- article title -->
        <h2 class="article-title">@Model.Propuesta.Nombre</h2>
        <!-- /article title -->
        <!-- article meta -->
        <ul class="article-meta">
            <li>@Model.Propuesta.FechaCreacion.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture) - @Model.Propuesta.FechaFin.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</li>
            <li>Por @Model.Propuesta.Usuarios.Nombre @Model.Propuesta.Usuarios.Apellido (<i>@Model.Propuesta.Usuarios.UserName</i>)</li>
        </ul>
        <!-- /article meta -->
        <p>@Model.Propuesta.Descripcion</p>
    </div>
    <!-- /article content -->
    <!-- article tags share -->
    <div class="article-tags-share d-flex flex-column">
        <!-- article tags -->
        <ul>
            <li>TAGS: <i class="fas fa-tags mr-2"></i> <a href="#">Horas de Trabajo</a> | <span>@(Model.Propuesta.PropuestasDonacionesHorasTrabajo.FirstOrDefault()?.Profesion)</span></li>
        </ul>
        <div class="ml-auto d-flex">
            <div class="mb-3 mr-3">
                @(Model.Propuesta.Valoracion ?? 0)%
            </div>
            <div>
                <i class="far fa-heart"></i>
            </div>
        </div>
        <!-- /article tags -->
        <!-- article share -->
        <div class="d-flex align-items-center justify-content-end">
            @if (Model.Propuesta.IdUsuarioCreador != SessionHelper.Usuario.IdUsuario)
            {
                <div class="d-flex justify-content-between">
                    <form action="@Url.Action("Valorar", "Propuesta")" method="post">
                        <input type="hidden" name="IdPropuesta" value="@Model.Propuesta.IdPropuesta" />
                        <div class="d-flex justify-content-center align-items-center">

                            <div class="mr-1">
                                <button type="submit" class="me-gusta" name="mg">
                                    <i class="fa fa-thumbs-up @(Model.Valoracion == null ? "" : (Model.Valoracion.Valoracion ? "text-success" : ""))" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div>
                                <button type="submit" class="no-me-gusta" name="nmg">
                                    <i class="fa fa-thumbs-down @(Model.Valoracion == null ? "" : (!Model.Valoracion.Valoracion ? "text-danger" : ""))" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                if (Model.Propuesta.FechaFin > DateTime.Today)
                {
                    <div class="ml-5"><a href="@Url.Action("Denunciar", "Propuesta", new {id = Model.Propuesta.IdPropuesta})" class="btn btn-danger text-white @(Model.Denuncie ? "disabled" : "")"><i class="fa fa-flag mr-3" aria-hidden="true"></i>Denunciar</a></div>
                }
            }
            <!-- /article share -->
        </div>
    </div>
    <!-- /article tags share -->
</div>
